.btn {
  @apply py-3 px-6 font-bold;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  z-index: 3;
}

.btnRedOutline {
  @apply border-2 border-red text-red;

  &:hover {
    @apply text-white bg-red;
  }
}

.btnRedFill {
  @apply bg-red text-white;
  &:hover {
    background-color: #e22020;
  }
}

.btnYellowFill {
  @apply bg-yellow;
  color: black;
  &:hover {
    background-color: #fde34d;
  }
}
