.trainingItem {
  @apply flex items-center shadow-lg rounded-lg  px-10 flex-wrap justify-center py-12 lg:flex-nowrap lg:justify-start lg:py-3;
  height: auto;
  .itemDetail {
    @apply lg:ml-4;
    & > * {
      @apply mb-3;
    }
    & > p {
      @apply mb-7;
    }
  }

  .imageContainer {
    @apply py-5;
    & > div {
      @apply relative;
      width: 300px;
      height: 200px;
    }
  }
}
