@font-face {
  font-family: "Neufreit";
  src: url("/fonts/Neufreit/Neufreit-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sintony", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&family=Source+Sans+Pro:ital,wght@0,900;1,900&display=swap");
}
