.filterContainer {
  @apply absolute lg:flex lg:flex-col lg:sticky;
  transition: all 0.1s ease-in-out;
  h3,
  li {
    @apply text-body font-body;
    text-transform: capitalize;
    cursor: pointer;
    &:hover {
      @apply text-red;
    }
  }

  h3 {
    @apply text-h4 mb-3;
    width: 90%;
  }
  ul {
    @apply mb-4 ml-3;
  }
  .active {
    @apply border-red text-red border-l-4 pl-1;
  }
}

@media only screen and (min-width: 1024px) {
  .filterContainer {
    top: 25%;
  }
}

@media only screen and (max-width: 1024px) {
  .filterContainer {
    @apply justify-center flex-wrap pt-10 pb-36;
    width: 100%;
    top: 250px;
    overflow: scroll;

    h3 {
      // @apply mr-6;
      // width: 100%;
    }
    ul,
    h3 {
      width: 70%;
    }
  }
}

.aquaProductsContainer {
  @apply flex flex-wrap justify-center;
  & > * {
    @apply my-3 mx-3;
    width: 25%;
  }
}

.heroBanner {
  @apply text-center md:text-left px-4 md:px-24;
  position: relative;
  max-height: 700px;
  height: 40vw;
  width: 100%;
  overflow: hidden;
}
