.backToTopContainer {
  @apply fixed  flex flex-col items-center cursor-pointer right-5;
  transition: all 0.4s ease-in-out;
  bottom: 5.25rem;

  & > * {
    @apply text-red;
    // color: red !important;
    &:hover {
      @apply text-yellow;
    }
  }
  & > div {
    font-size: 4rem;
  }
}
.yellow {
  & > * {
    color: #fed700 !important;
    &:hover {
      color: #f9bfbf !important;
    }
  }
}
.hide {
  right: -100% !important;
}
