html,
body {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box !important;
}

h1,
h2,
h3 {
  color: $heading-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ff-primary;
}

p,
a {
  font-family: $ff-secondary;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

h1 {
  @apply text-h2 sm:text-h1;
  // font-size: $h1;;
}
h2 {
  // @apply text-h3 sm:text-h2;
  font-size: $h2;
}
h3 {
  font-size: $h3;
}
h4 {
  font-size: $h4;
}
p,
a {
  @apply text-base 2xl:text-h5;
  // font-size: $base;;
}

p {
  color: $text-color;
}

// html {
//   position: relative;
//   min-height: 100%;
// }

// body {
//   margin: 0 0 350px;
// }

section:not(.banner) {
  @apply py-24 md:px-24;
}

input,
textarea {
  border: 2px solid black;
}
